# Example environment variables.
# Copy this file to .env and fill in your actual values.
# DO NOT commit your actual .env file to Git.

OPENAI_API_KEY="paste your openai api key here"
GEMINI_API_KEY="paste your gemini api key here"
AI_SAFETY_FEED_DB_URL="paste the ai safety feed db url here"
GOOGLE_APPLICATION_CREDENTIALS=/path/to/your/service-account-key.json
GCS_BUCKET_NAME_FOR_AUDIO=podcast_content 
GCP_PROJECT_ID=gen-lang-client-0589168049
GCP_LOCATION=us-central1